*{
    margin: 0%;
    padding: 0%;
}

body{
    text-align: center;
    background-color: rgba(23, 223, 140, 0.513);
}
p{
    margin-top: 30px;
    color: rgb(138, 111, 214);
    font-size: 20px;
    font-family: cursive ;
}
h1{
    margin-top: 20px;
    font-size: 50px;
}
.game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.entry{
    display: flex;
    /* width: 30px;
    height: 300px; */
    /* margin: 3px 7px; */
    justify-content: center;
    align-items: center;
    text-align: center;
    background: transparent;
    color: black;
    /* border: none; */
    border: 3px solid black;
    /* padding: 6px 12px; */
    font-size: 20px;
}

/* .fill{
    margin: 10px 10px;
    text-align: center;
    justify-content: center;
} */
#btn{
    padding: 6px 20px;
    font-size: 15px;
   color:black;
   /* background-color: black; */
   border: 2px solid blue;
   border-radius: 6px;
}
#btn:hover{
    background-color: rgb(187, 187, 236);
}

.box{
    text-align: center;
    /* margin: 50px; */
    /* margin-left: 20%; */
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    height: 200px;
   
}

#print{
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-bottom: 50px;
}
#b1,#b4,#b7{
    border-left: none;
}
#b1,#b2,#b3{
    border-top: none;
}
#b3,#b6,#b9{
    border-right: none;
}
#b7,#b8,#b9{
    border-bottom: none;
}

@media only screen and (max-width: 380px){
.entry{
    width: 20px;
}
.game{
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    margin-inline: auto;
    width: fit-content;
}
.box{
    width: fit-content;
    margin: 15px;
}
}